:root {
	--nav-bar-width: 4rem;
	--main-height: 100vh;
}

.main {
	display: flex;
	font-family: "Poppins", sans-serif;
}

.navbar-container {
	width: var(--nav-bar-width);
	height: var(--main-height);
}

.body-container {
	width: calc(100vw - var(--nav-bar-width));
	height: var(--main-height);
}
